body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

em,
p {
    color: #333;
    background-color: #f9f9f9;
}

.h2-style1 {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.h2-style2 {
    font-weight: normal;
    font-size: 24px;
    text-transform: none;
    margin-bottom: 10px;
}

.general-style {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
}

nav p {
    color: #333;
    font-size: 1.2em;
}

a:hover {
    color: #ff0000;
}

a:active {
    color: #00ff00;
}

a:visited {
    color: #0000ff;
}

.bordered-div {
    border: 1px dashed #000;
    padding-right: 20px;
}

table tr:nth-child(odd) td {
    background-color: #f2f2f2;
}

table tr:nth-child(even) td {
    background-color: #e6e6e6;
}

.rectangle-container {
    position: relative;
    display: inline-block;
}

.rectangle {
    position: absolute;
    text-align: center;
}

.rectangle-inner {
    background-color: #ff0000;
    width: 200px;
    height: 100px;
    padding: 10px;
    transition: width 4s;
}

.rectangle-inner:hover {
    width: 100px;
}