<!--Path: \views\login.ejs-->

<link rel="stylesheet" href="user.css" type="text/styles">
<script src="login.js" defer></script>
<link rel="stylesheet" href="styles/signin.css">
<link rel="stylesheet" href="styles/styles.css">
<link rel="stylesheet" href="styles/homebutton.css">
<link rel="stylesheet" href="styles/button2.css">

<button class="home-button" id="home-button">
    ↑ Home Page
</button>

<form id="login-form" action="/login" method="post">
    <div class="container">
        <div class="card">
            <a class="auth-label">Log in</a>
            <div class="inputBox">
                <input type="text" id="username" name="username" required="required"><br>
                <span class="user">Username</span>
            </div>

            <div class="inputBox">
                <input type="password" id="password" name="password" required="required"><br>
                <span>Password</span>
            </div>

            <button class="enter" type="submit">Enter</button>

        </div>
    </div>
</form>
