<!--Path: \views\register.ejs-->

<link rel="stylesheet" href="user.css">
<script src="register.js" defer></script>
<link rel="stylesheet" href="styles/signup.css">
<link rel="stylesheet" href="styles/styles.css">

<!-- <h2>Register</h2> -->
<form id="register-form" action="/register" method="post">
    <div class="container">
        <div class="card">
            <a class="auth-label">Sign Up</a>

            <div class="inputBox">
                <input type="text" id="username" name="username" required="required">
                <span>Username</span>
            </div>

            <div class="inputBox">
                <input type="password" id="password" name="password" required="required">
                <span>Password</span>
            </div>

            <button class="enter" type="submit">Enter</button>

        </div>
    </div>
</form>
