button.details {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #149CEA;
  outline: none;
  background-color: transparent;
  color: rgb(0, 162, 226);
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
}

button.details.onbackground {
  color: rgb(71, 192, 172);
  /* box-shadow: inset 0px 0px 25px #1479EA; */
}

button.details::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: transparent;
  transition: 0.5s;
  transform-origin: center;
}

button.details::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: transparent;
  transition: 0.5s;
}

button.details:hover::before, button.details:hover::after {
  transform: scale(1)
}

button.details:hover {
  box-shadow: inset 0px 0px 25px #1479EA;
}