/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url("../img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #333;
    line-height: 1.6;
}

h1, h2 {
    margin-bottom: 1rem;
    color: #e71414;
}

img {
    width: 100%;
    height: auto;
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    color: chocolate;
}

.review {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

#submit-review-form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #32ebcc;
}

#submit-review-form input,
#submit-review-form textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    color: #32ebcc;
    max-width: 500px;
}

#submit-review-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 300px;
}

#submit-review-form button:hover {
    background-color: #555;
}
