/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url("../img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #333;
    line-height: 1.6;
}

h1, h2 {
    margin-bottom: 1rem;
    color: #e71414;
}

img {
    width: 100%;
    height: auto;
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    color: chocolate;
}

.review {
    background-color: transparent;
    box-shadow: 0 10px 60px rgb(218, 229, 255);
    border: 1px solid rgb(159, 159, 160);
    border-radius: 20px;
    padding: 2rem 0.7rem 0.7rem 0.7rem;
    text-align: center;
    font-size: 1.125rem;
    /* max-width: 320px; */
}

#submit-review-form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #32ebcc;
}

#submit-review-form input,
#submit-review-form textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    color: #32ebcc;
    max-width: 500px;
}

#submit-review-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 300px;
}

#submit-review-form button:hover {
    background-color: #555;
}

.centered-title {
    text-align: center;
}

.welcome-text {
  color: #f79400;
  font-size: 1.8rem;
  font-weight: 500;
  margin-right: 10px;
  transition: color 0.2s ease-in-out;
}

.welcome-text:hover {
  color: rgba(255, 0, 0, 0.596)000;
}

