/* Path: \public\styles.css */

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.extra-info {
    background-color: #9fe3df; /* Lighter turquoise color */
    /* Additional styles here */
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url("../img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #333;
    line-height: 1.6;
}

.cover-image {
    width: 200px; 
    height: auto; 
}


h1,
h2,
h3 {
    margin-bottom: 1rem;
    color: #e71414;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 20px  auto;
    padding: 1rem;
}

/* Forms */
form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-left: 20px;
}

form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #32ebcc;
}

form input,
form textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    color: #32ebcc;
    max-width: 500px;
    margin: left;
}

/* Details Styling */
.detail {
    padding: 0.5em;
    margin: 0.5em 0;
    background-color: #32ebcc;
    color: #1c1d1c;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.detail:hover {
    background-color: #149CEA;
}

/* Search Results */
#search-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}

#search-results div {
    background-color: transparent;
    box-shadow: 0 10px 60px rgb(218, 229, 255);
    border: 1px solid rgb(159, 159, 160);
    border-radius: 20px;
    padding: 2rem 0.7rem 0.7rem 0.7rem;
    text-align: center;
    font-size: 1.125rem;
    max-width: 320px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.btn:hover {
    transform: rotateX(30deg) rotateZ(0);
} */


* {
    margin-left: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.welcome-text {
  color: #f79400;
  font-size: 1.8rem;
  font-weight: 500;
  margin-right: 10px;
  transition: color 0.2s ease-in-out;
}

.welcome-text:hover {
  color: rgba(255, 0, 0, 0.596) 000;
}
